*{
    margin: 0;
    padding: 0;
}

header{
    padding-top: 1%;
}

.marginSite{
    margin: 0 15%;
}

.alinharDivs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gapDiv{
    gap: 20%;
}

.gapDivGradBlog{
    gap: 15%;
}